# my free server: 
# OLLAMA_EMBED_URL="https://oapi.chinatcc.com/api" default OLLAMA server: OLLAMA_EMBED_URL = "http://127.0.0.1:11434/api" 
# OLLAMA_EMBED_MODE ="zpoint" others: OLLAMA_EMBED_MODE ="mxbai-embed-large" ref: https://ollama.com/library/mxbai-embed-large
EMBED_DIR="docs_db"
DEFAULT_COLLECTION="docs"
API_LISTEN_ADDR="127.0.0.1:8601"
COLLECTIONS="notes;web_excerpt;ideas"
API_LISTEN_ADDR="127.0.0.1:8601"
#REMOTE_API_ADDR="127.0.0.1:8601"